@page "/gallery"
@using DataAccessLibrary
@using DataAccessLibrary.Models
@inject IHamsterData _db
@using HamsterWars.Components

<h3>Hamster Gallery</h3>

@if (hamsters is null)
{
    <p><em class="loadingTxt">Loading...</em></p>
}
else
{
    <div class="container gap-3">
        @foreach (HamsterModel hamster in hamsters)
        {
        <div class="d-inline-flex p-2">

            <HamsterCard hamster="hamster" />
        </div>
        }
    </div>
}

@code {
    private List<HamsterModel>? hamsters;

    protected override async Task OnInitializedAsync()
    {
        hamsters = await _db.GetHamsters();
    }
}