@page "/gallery"
@using DataAccessLibrary
@using DataAccessLibrary.Models
@inject IHamsterData _db
@using HamsterWars.Components

<h3>Hamster Gallery</h3>

@if (hamsters is null)
{
    <p><em class="loadingTxt">Loading...</em></p>
}
else
{
    // Divvarna hamnar under varandra, sätt storlek 25% vid 1000px 33% vid 800, 100% under 640
    // lägg en Div ovan för att lösa prob
    foreach (HamsterModel hamster in hamsters)
    {
        <HamsterCard hamster="hamster" />
    }
}

@code {
    private List<HamsterModel>? hamsters;

    protected override async Task OnInitializedAsync()
    {
        hamsters = await _db.GetHamsters();
    }
}