@page "/"

<PageTitle>Startsida</PageTitle>

<div>
    <p>
        <h3>Förklara hur man använder appen</h3><br />
        <b>Startsida</b> /index Förklara hur man använder appen<br />
        <b>Tävla</b> /battle Visa två slumpade hamstrar. Låt användaren välja den sötaste. Visa resultatet och initiera nästa match.<br />
        <b>Galleri</b> /gallery Visa alla hamstrar som finns i databasen. Från galleriet skall man även kunna lägga till nya hamstrar och ta bort gamla.<br />
        <b>Statistik</b> /statistics Visa de fem hamstrar som vunnit respektive förlorat mest<br />
        <b>Galleri</b> /matchwinners/id Man skall kunna välja en hamster från galleriet och se vilka den har besegrat<br />
        <b>Historik</b> /history Visa resultaten från alla matcher. Ta bort resultat.<br />
    </p>
</div>

@{


}