@page "/"

<PageTitle>Startsida</PageTitle>

<div>
    <p>
        <h3>Förklara hur man använder appen</h3><br />
        <b>Startsida / Förklara</b> hur man använder appen<br />
        <b>Tävla /battle</b> Visa två slumpade hamstrar. Låt användaren välja den sötaste. Visa resultatet och initiera nästa match.<br />
        <b>Galleri /gallery Visa</b> alla hamstrar som finns i databasen. Från galleriet skall man även kunna lägga till nya hamstrar och ta bort gamla.
    </p>
</div>

@{
    
    
}