@inherits LayoutComponentBase

<PageTitle>HamsterWars</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4" id="mainBody">
            @Body
        </article>
    </main>
</div>
