@inherits LayoutComponentBase

<PageTitle>HamsterWars</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h4 class="text-end" style="font-family:monospace;">K. Rygaard</h4>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
