@using DataAccessLibrary
@using DataAccessLibrary.Models
@using HamsterWars.Components

@inject NavigationManager _nav
@inject IHamsterData _db
@inject IResultData _bd

<!-- bygg inline design-->
<div class="hamstercompetitorsCard">
    <img class="hamstercompetitorsImg" src="/media/img/@competitor.ImgName">
    <p class="text-left">@competitor.Name</p>
    <p class="text-left">Age: @competitor.Age</p>
    <p class="text-left">Favorite food: @competitor.FavFood</p>
    <p class="text-left">Favorite activity: @competitor.Loves</p>
    <button type="button" @onclick="(() => BattleResult(competitor,opponent))" class="btn btn-primary">Like</button>
</div>

@code {
    [Parameter]
    public HamsterModel competitor { get; set; }
    [Parameter]
    public HamsterModel opponent { get; set; }

    private ResultModel Result = new ResultModel();
    private bool results = false;
    private async Task BattleResult(HamsterModel? winner, HamsterModel? loser)
    {
        await _db.UpdateWin(winner);
        await _db.UpdateLoss(loser);
        Result.WinnerID = winner.ID;
        Result.LooserID = loser.ID;
        await _bd.InsertGame(Result);
        // Sätt funktion eller dyl för att visa statistik, sätt knapp för reload eller dyl kanske?
        _nav.NavigateTo(_nav.Uri, forceLoad: true); // Kan inte bara kasta till nästa sida, måste visa statistik.
    }
}
